
Thumbs.db
.DS_Store
~$*
*.aps
*.bkn
*.bak
*.cache
*.cd
*.ilk
*.LOG
*.log
*.lib
*.ncb
*.obj
*.pdb
*.user
*.pch
*.suo
*.sbr
*.tlb
*.tlh
*_i.c
*_p.c
*.vspscc
*.BASE*
*.LOCAL*
*.REMOTE*
[Bb]in
[Tt]est[Rr]esult*
obj/
_ReSharper*/
[Dd]ebug*/
[Rr]elease*/
/*.suo
/BomberProject/LogDatas

*.orig

Presen
