
Thumbs.db
.DS_Store
~$*
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.cd
*.ncb
*.LOG
*.user
[Bb]in
[Tt]est[Rr]esult*
obj/
_ReSharper*/
[Dd]ebug*/
[Rr]elease*/
/*.suo
/BomberProject/LogDatas

*.orig
